@import "../../style_utils/utils";

.UserPage {
  @extend %inside-space-param;

  &__main-info {
    margin-bottom: 35px;
  }

  &__title {
    font-size: 52px;
    text-transform: uppercase;
  }
}